/*
Lumino Pro Admin Bootstrap Template by Medialoot
URL: http://medialoot.com/item/lumino-pro-admin-bootstrap-template/
Designer: Tony Thomas
Version: 1.0.1
*/


/*Global Styles*/

body {
	background-color: #444;
	background-image: url(../bg/blurred-background-1.jpg);
	background-size: cover;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	font-family: 'Lato';
	padding-top: 50px;
	color: #fff;
}

/*This is the default .row style, stripped of margins*/
.row {
	margin: 0;
}

/*Use this class on .row elements to add a top margin*/
.row-margin-top {
	margin-top: 20px;
}

/*Use this class on .col elements to remove all spacing*/
.col-no-gutter{
	padding: 1px 0 1px 1px;
	margin: 0;
}

/*If .col-no-gutter is used, the parent row must have this class applied*/
.col-no-gutter-container {
	margin-left: 15px;
	margin-right: 15px;
}

/*If .col-no-gutter is used, all child .panel elements will have these styles*/
.col-no-gutter .panel {
	margin: -1px 0 0 0;
}

.panel-body {
	padding: 20px;
}

.main {
	padding-bottom: 20px;
}

p {
	color: #ccc;
}

a, a:hover, a:focus {
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	color: #fff;
}

h1 {
	font-weight: 100;
	font-size: 62px;
}

h2 {
	font-weight: 300;
	margin-bottom: 20px;
}

h3, h4 {
	font-weight: 300;
}

.large {
	font-size: 2em;
}

.text-muted {
	color: #666;
}

code {
	background: rgba(249, 239, 205, .2);
	border-radius: 0;
	color: #eff0ba;
	border: 1px dashed rgba(249, 239, 205, .2);
}

.color-gray { color: #444; }
.color-blue { color: #30a5ff; }
.color-teal { color: #1ebfae; }
.color-orange { color: #ffb53e; }
.color-red { color: #f9243f; }

.bg-primary .glyphicon-remove { color: #444;}
.bg-primary .glyphicon-remove:hover { color: #ef4040;}

.glyphicon-xl {
	font-size: 6em;
}

.glyphicon-l {
	font-size: 3em;
}

.glyphicon-m {
	font-size: 1.5em;
}

.glyphicon-s {
	font-size: 0.75em;
}

.form-control {
	border: 1px solid rgba(255, 255, 255, .1);
	box-shadow: none;
	background: rgba(255, 255, 255, .1);
}

select.form-control {
	background: #fff;
}

.form-control:focus {
	border: 1px solid rgba(255, 255, 255, .2);
	box-shadow: none!important;
	background: rgba(255, 255, 255, .2);
	color: #fff;
	outline: 0;
}

.navbar-header .navbar-brand {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
}

@media (max-width: 480px) {
	.navbar-brand {
		display: none;
	}
}

.navbar-header .navbar-brand span {
	color: #30a5ff;
}

.dropdown {
	background: rgba(255, 255, 255, .1);
	background: none;
	float: left;
	margin: 5px;
}

.dropdown .label {
	top: 5px;
	left: 25px;
	position: absolute;
}

.navbar-top-links li:last-child {
	margin-right: 10px;
}

.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    text-decoration: none;
    background-color: rgba(255, 255, 255, .2);
    background: none;
}

.dropdown-messages {
	border: 1px solid #fff;
	width: 360px;
	background: rgba(255, 255, 255, .9);
	color: #444;
	font-size: 0.9em;
}
.dropdown-messages img {
	margin: 5px 10px;
	float: left;
}

.dropdown-messages .message-body {
	margin: 5px;
	float: left;
	width: 280px;
}

.dropdown small {
	color: #999;
}

.dropdown em {
	margin: 0 5px;
}

.dropdown-menu>li>a {
	padding: 5px 10px;
}

.dropdown-menu li .message-body a {
	color: #444;
}

.dropdown-menu li a:hover {
	color: #30a5ff;
	text-decoration: none;
	background: none;
}

.divider {
	clear: both;
}

.dropdown-alerts {
	border: 1px solid #fff;
	width: 260px;
	background: rgba(255, 255, 255, .9);
	color: #444;
	font-size: 0.9em;
}

.all-button a {
	text-align: center;
	color: #444;
	font-size: 12px;
	text-transform: uppercase;
	display: block;
}

/*Buttons*/

.margin {
	margin: 4px 2px;
}

a.btn:hover,
button:hover {
	opacity: 0.8;
}

a.btn:active,
button:active {
	box-shadow: inset 0px 0px 500px rgba(0,0,0,.1);
	opacity: 1;
}

.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default,
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
	background-color: rgba(255, 255, 255, .1);
	border-color: rgba(255, 255, 255, .1);
	color: #fff;
}

.btn-default:hover {
	opacity: 1;
	background-color: rgba(255, 255, 255, .2);
	border-color: rgba(255, 255, 255, .2);
}

.btn-default:active {
	opacity: 1;
	background-color: rgba(255, 255, 255, .05);
	border-color: rgba(255, 255, 255, .05);
}

.btn-default.btn-outline { color: #fff; border-color: #fff;}
.btn-default.btn-outline:hover { background: #fff;	color: #222;}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: #30a5ff;
	border-color: #30a5ff;
}

.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success,
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
	background-color: #93d03c;
	border-color: #93d03c;
}

.btn-info,
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info,
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning,
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
	background-color: #ffb53e;
	border-color: #ffb53e;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger,
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
	background-color: #f9243f;
	border-color: #f9243f;
}

.btn-link {
	color: #fff;
}

.btn-link:hover {
	color: #fff;
}

.btn {
	border-radius: 2px;
}

.btn-circle {
  width: 40px;
  height: 40px;
  line-height: 40px; 
  padding:0;
  border-radius: 50%;
}

.btn-outline {
    background: none;
    border-width: 2px;
    padding: 5px 11px;
}


.btn-outline.btn-primary { color: #30a5ff;}
.btn-outline.btn-success { color: #93d03c;}
.btn-outline.btn-info { color: #5bc0de;}
.btn-outline.btn-warning { color: #ffb53e;}
.btn-outline.btn-danger { color: #f9243f;}

.btn-outline:hover {
	color: #fff;
	opacity: 1;
}

.btn-outline:active {
	box-shadow: none;
	opacity: 0.8;
}

.input-group .btn {
	border-right: 0;
}

.btn-default .badge, .badge {
  color: #444;
  background-color: #fff;
}


/*Backgrounds*/

.bg-primary, .label-default {
	color: #1b3548;
	background-color: #e9ecf2;
}
a.bg-primary:hover {
	background-color: #e9ecf2;
}
.bg-success, .label-success {
	color: #fff;
	background-color: #93d03c;
}
a.bg-success:hover {
	background-color: #93d03c;
}
.bg-success a {
	color: #fff;
	color: rgba(255, 255, 255, .75);
}
.bg-info, .label-info {
	color: #fff;
	background-color: #30a5ff;
}
a.bg-info:hover {
	background-color: #30a5ff;
}
.bg-info a {
	color: #fff;
	color: rgba(255, 255, 255, .75);
}
.bg-warning, .label-warning {
	color: #fff;
	background-color: #ffb53e;
}
a.bg-warning:hover {
	background-color: #ffb53e;
}
.bg-warning a {
	color: #fff;
	color: rgba(255, 255, 255, .75);
}
.bg-danger, .label-danger {
	color: #fff;
	background-color: #f9243f;
}
a.bg-danger:hover {
	background-color: #f9243f;
}
.bg-danger a {
	color: #fff;
	color: rgba(255, 255, 255, .75);
}

/*Panels*/

.panel {
	border: 0;
	background: #333;
	background: rgba(0, 0, 0, .65);
	border-radius: 0;
	margin-top: -1px;
	
}

.panel-heading {
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.025em;
	height: 66px;
	line-height: 45px;
	border-radius: 0;
}

.panel-default .panel-heading {
	background: #444;
	background: rgba(255, 255, 255, .1);
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
}

.panel-footer {
	background: rgba(0, 0, 0, .1);
	border-top: 1px solid rgba(255, 255, 255, .1);
	border-radius: 0;
}

.panel-widget {
	padding: 0;
	position: relative;
}

.panel-widget .panel-footer {
	border: 0;
	text-align: center;
}

.panel-footer .input-group {
	padding: 0px;
	margin: 0 -5px;
}

.panel-footer .input-group-btn:last-child>.btn, 
.panel-footer .input-group-btn:last-child>.btn-group {
	margin: 0;
}

.panel-widget .panel-footer a {
	color: #999;
}

.panel-widget .panel-footer a:hover {
	color: #666;
	text-decoration: none;
}

.panel-primary > .panel-heading { background: #30a5ff; color: #fff; border: 0;}
.panel-success > .panel-heading { background: #93d03c; color: #fff; border: 0;}
.panel-info > .panel-heading { background: #5bc0de; color: #fff; border: 0;}
.panel-warning > .panel-heading { background: #ffb53e; color: #fff; border: 0; }
.panel-danger > .panel-heading { background: #f9243f; color: #fff; border: 0;}

.panel-blue .panel-body p,
.panel-teal .panel-body p,
.panel-orange .panel-body p,
.panel-red .panel-body p { 
	color: #fff; 
	color: rgba(255, 255, 255, .8);
}

.panel-blue .panel-heading,
.panel-teal .panel-heading,
.panel-orange .panel-heading,
.panel-red .panel-heading {
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.panel-blue .text-muted,
.panel-teal .text-muted,
.panel-orange .text-muted,
.panel-red .text-muted {
	color: #ccc;
	color: rgba(255, 255, 255, .5); 
}

.widget-left {
	height: 80px;
	padding-top: 15px;
	text-align: center;
	border-radius: 0;
}

.widget-right {
	text-align: left;
	line-height: 1.6em;
	margin: 0px;
	padding: 20px;
	height: 80px;
	color: #fff;
	font-weight: 300;
	border-radius: 0;
}

@media (max-width: 768px) {
	.widget-right {
	width: 100%;
	margin: 0;
	text-align: center;
	border-radius: 0;
	}
}

@media (max-width: 768px) {
	.widget-left {
	border-radius: 0;
	}
}

.widget-right .text-muted {
	color: #ccc;
	color: rgba(255, 255, 255, .5); 
}
.widget-right .large {
	color: #fff;
}

.panel-blue .widget-left { background: #30a5ff; color: #fff; }
.panel-teal .widget-left { background: #1ebfae; color: #fff; }
.panel-orange .widget-left { background: #ffb53e; color: #fff; }
.panel-red .widget-left { background: #f9243f; color: #fff; }

.widget-left {
	background: rgba(255, 255, 255, 0.1)!important;
}

.panel-widget {
	background: none;
	background: rgba(0, 0, 0, .65);
}

/*Jumbotron*/

.jumbotron {
	background: rgba(0, 0, 0, .65);
}

/*Tabs*/

.panel .tabs {
	margin: 0;
	padding: 0;
}

.nav-tabs {
	background: rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-tabs li a:hover {
	background: rgba(0, 0, 0, 0.1);
	color: #444;
}

.nav-tabs li a,
.nav-tabs li a:hover,
.nav-tabs li.active a,
.nav-tabs li.active a:hover {
	border: 0;
	padding: 15px 20px;
	border-radius: 0;
	margin: 0;
	color: #ccc;
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover {
	background: rgba(255, 255, 255, .1);
	color: #fff;
}

.nav-pills {
	padding: 10px;
	padding-bottom: 0;
}

.nav-pills li a,
.nav-pills li a:hover,
.nav-pills li.active a,
.nav-pills li.active a:hover {
	border: 0;
	padding: 7px 15px;
	color: #ccc;
}

.nav-pills li.active a,
.nav-pills li.active a:hover {
	background: rgba(255, 255, 255, .1);
	color: #fff;
}

.tab-content {
	padding: 15px;
}


/*Navbar*/

.navbar {
	border: 0;
	background: rgba(0, 0, 0, .75);
}

.navbar input {
	border: 0;
	background: #444;
	color: #fff;
}

.navbar input:focus {
	color: #fff;
	background: #555;
	border: 1px solid #30a5ff;
	outline: 0;
	box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

.user-menu {
	display: inline-block;
	margin-top: 14px;
	margin-right: 10px;
	float: right;
	list-style: none;
	padding: 0;
}

.user-menu a {
	color: #fff;
}

.user-menu a:hover, .user-menu a:focus {
	text-decoration: none;
}

/* Sidebar */

.sidebar {
	display: block;
	background-color: #333;
	background: rgba(0, 0, 0, .5);
	padding: 0;
	display: none;
}

.sidebar form {
	padding: 20px 15px 5px 15px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.sidebar ul.nav {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
}

@media (min-width: 768px) {
	.sidebar {
		display: block;
  		position: fixed;
		top: 50px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		overflow-y: auto; 
		box-shadow: 1px 0px 10px rgba(0, 0, 0, .25);
	}
	.navbar-header {
		width: 100%;
	}
}

.sidebar ul.nav a:hover, 
.sidebar ul.nav li.parent ul li a:hover {
	text-decoration: none;
	font-variant: normal;
	background-color: rgba(255, 255, 255, .25);
	color: #fff;
}

.sidebar ul.nav .active a, .sidebar ul.nav li.parent a.active,
.sidebar ul.nav .active > a:hover, .sidebar ul.nav li.parent a.active:hover,
.sidebar ul.nav .active > a:focus, .sidebar ul.nav li.parent a.active:focus {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.25);
}

.sidebar ul.nav ul,
.sidebar ul.nav ul li {
	list-style: none;
	list-style-type: none;
}

.sidebar ul.nav ul.children {
	width: auto;
	padding: 0;
	margin: 0;
	background: rgba(0, 0, 0, .25);
}

.sidebar ul.nav ul.children li a {
	height: 40px;
	background: none;
	color: #fff!important;
}

.sidebar ul.nav li.current a {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.25);
}

.sidebar ul.nav li.parent ul li a {
	border: none;
	display:block;
	padding-left: 30px;
	line-height: 40px;
}


.sidebar span.glyphicon {
	margin-right: 10px;
}

.sidebar ul.nav li.divider {
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	margin: 20px 0;
}

.sidebar .attribution {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 15px;
	text-align: center;
	border-top: 1px solid rgba(255, 255, 255, .1);
	font-size: 12px;

}

@media (max-width: 768px) {
	.sidebar .attribution {
		display: none;
	}
}

/*Breadcrumbs*/

.breadcrumb {
	border-radius: 0;
	padding: 10px 15px;
	background: none;
	box-shadow: 0 1px 0px rgba(255, 255, 255, .2);
	margin: 0 ;
}

.breadcrumb li {
	color: #fff;
}

.breadcrumb .active {
	color: #fff;
}

h1.page-header {
	margin-top: 30px;
	margin-bottom: 30px;
	border-bottom: 0;
	color: #fff;
}

/*Charts*/

.main-chart {
	background: none;
}

.easypiechart-panel {
	text-align: center;
	padding: 1px 0;
	margin-bottom: 0px;
}

.placeholder h2 {
	margin-bottom: 0px;
}

.donut {
	width: 100%;
}

.easypiechart {
	position: relative;
	text-align: center;
	width: 120px;
	height: 120px;
	margin: 20px auto 10px auto;
}

.easypiechart .percent {
	display: block;
	position: absolute;
	font-size: 26px;
	top: 38px;
	width: 120px;
}

#easypiechart-blue .percent { color: #30a5ff;}
#easypiechart-teal .percent { color: #1ebfae;}
#easypiechart-orange .percent { color: #ffb53e;}
#easypiechart-red .percent { color: #ef4040;}

/*Calendar Widget*/

#calendar, .datepicker-inline {
	width: 100%;
}

#calendar table {
	width: 100%;
}

.datepicker table tr td.old,
.datepicker table tr td.new {
	color: rgba(255, 255, 255, .5);
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active:hover,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
	color: #ffffff;
	background-color: rgba(0, 0, 0, .5);
	border-color: #285e8e;
}

.datepicker tr:hover {
	color: #fff;
}

.datepicker table tr td span:hover,
.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr th:hover,
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
	background: rgba(0, 0, 0, 0.25);
	color: #fff;
}

.panel-heading .glyphicon {
	margin-right: 10px;
}

/*Todo List Widget*/

.todo-list-item .glyphicon { 
	margin-right:5px; 
	color: #ccc; 
}

.todo-list-item .glyphicon:hover { 
	margin-right:5px; 
	color: #fff; 
}

.todo-list { 
	padding: 0;
	margin: -15px;
	background: none;
	color: #ccc;
}

.todo-list .checkbox input[type=checkbox] {
	margin: 0;
}

.todo-list .checkbox { 
	display:inline-block; 
	margin: 0px;
}

.panel-body input[type=checkbox]:checked + label { 
	text-decoration: line-through;
	color: #777; 
}

.todo-list-item {
	list-style: none;
	line-height: 0.9;
	padding: 14px 15px 8px 15px;
}

.todo-list-item:hover, a.todo-list-item:focus {
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.25);
}

.todo-list-item a.trash .glyphicon:hover {
	color: #ef4040;
}


/*Chat Widget*/

.chat ul {
	list-style: none;
	margin: -15px;
	padding: 15px;
}

.chat ul li {
	margin-bottom: 10px;
	padding: 15px 5px;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.chat ul li.left .chat-body { margin-left: 100px;}
.chat ul li.right .chat-body { margin-right: 100px;}

.chat ul li .chat-body p {
	margin: 0;
}

.chat ul .glyphicon {
	margin-right: 5px;
}

.chat .panel-body {
	overflow-y: scroll;
	height: 300px;
}

.chat-body small {
	margin-left: 5px;
}

/*Tables*/
.table {
	background: none;
}

.fixed-table-container {
	border: 1px solid #444;
}

.fixed-table-container thead th {
	background: rgba(255, 255, 255, .1);
	border-color: #444;
	color: #fff;
	font-weight: 300;
	font-size: 16px;
}

.fixed-table-container tbody td {
	border: 1px solid #444;
}

.fixed-table-container tbody td:last-child {
	border-right: none;
}

.table>thead>tr>th {
	border-bottom: 1px solid #444;
	vertical-align: middle;
	height: 50px;
}

.fixed-table-pagination .pagination {
    margin-top: 10px;
    margin-bottom: 0px;
}
.fixed-table-pagination .pagination-detail {
	margin-top: 20px;
}

tr.highlighted {background-color: #fff; color: #444;}
tr.green {background-color: #93d03c;}
tr.blue {background-color: #5bc0de;}
tr.orange {background-color: #ffb53e;}
tr.red {background-color: #f9243f;}

tr:hover {
	color: #444;
}

td input[type=text]{
	color: black;
	width: 100%;
}